.about {
    transition: 1s;
    height: 460px;
    background-color: $firstBG;

    &.active {
        transition: 1s;
        height: 1410px;

        & .about__description {
            transition: 1s;
            height: 1200px;
        }

        & .box-shdow {
            display: none;
        }

        & .about-shadow-prev {
            display: none;
        }
    }

    &-2 {
        transition: 1s;
        height: 470px;
        background: $secondBG;
        
        &.active {
            transition: 1s;
            height: 1000px;

            & .box-shdow-2 {
                display: none;
            }

            & .del {
                display: none;
            }

            & .button__open {
                top: 940px;

                & svg {
                    transform: rotate(90deg);
                }
            }

            & .about__description {
                transition: 1s;
                height: 800px;
            }
        }
    }
}

.about > .container{
    position: relative;
}

.about__title {
    padding-top: 60px;
    padding-bottom: 32px;

    font-weight: 600;
    font-size: $fs36;
    line-height: 120%;
    text-align: center;
    color: $textBlack;
}

.about__description {
    transition: 1s;
    height: 240px;
    overflow: hidden;

    font-weight: 500;
    font-size: $fs16;
    line-height: 26px;
    color: $textGrey;
}

.button__open {
    &.active {
        & .close {
            display: block;
        }

        & .show {
            display: none;
        }

        
    }
}
.close {display: none;}

.about-shadow,
.about-shadow-2,
.about-shadow-3,
.about-shadow-4 {display: none;}

.about-shadow-prev {
    display: contents;
}

