.decoration{
    padding: 60px 0 50px 0;
}

.decoration__titel{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: $textBlack;
}

.decoration___video{
    background: #444;
    margin-top: 80px;
    height: 670px;
}