footer {
    height: 270px;

    background: $firstBG
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    margin-bottom: 32px;
}

.footer__logo {
    width: 215px;
    height: 55px;

    & .footer__logo-img {
        width: 215px;
        height: 55px;
    }
}

.footer__social {
    display: flex;
    justify-content: center;

    margin-top: 32px;

    & span {
        margin-top: 4px;
        margin-right: 32px;
    }
}

.footer__ico {color: $textBlack;}

.footer__item {
    display: inline-block;

    width: 30px;
    height: 30px;

    margin-right: 24px;

    &:last-child {
        margin-right: 0px;
    }

    & .footer__img {
        width: 30px;
        height: 30px;

        fill: #B1B1B1;
    }

    &:active .footer__img {
        transition: .3s;

        fill: $accentCol;
    }
}
