.form {
    padding: 90px 0 150px;
}

.form__wrapper {
    display: flex;
    justify-content: center;

    &-popUp {
        justify-content: space-between;     
        align-items: center;   
    }
}



.form__map {
    padding: 26px 0 0 0;

    & iframe {
        border: 5px solid #F2F4F4;
        border-right: none;
        filter: drop-shadow(0px 2px 3px rgba(121, 121, 121, 0.2));
        border-radius: 25.8573px 0px 0px 25.8573px;
    }
}

.img__map {
    position: absolute;

    width: 150px;

    top: 120px;
    left: 230px;
    z-index: 3;
}

.form__main {
    width: 550px;
    height: 594px;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 80px 36px;

    background: $firstBG;
    background-image: url("../../assets/images/Background-card.png"), url("../../assets/images/Background-form.png");
    background-repeat: no-repeat;
    background-size: 200px, 332px;
    background-position: top right -50px, bottom -65px left -55px;
    border-radius: 25px;

    &-popUp {
        background: none;

        height: auto;
        padding: 0 30px;
    }

    & label {
        align-items: left;
    }
}

.form__title {
    margin-bottom: 16px;

    text-align: center;
    font-weight: 600;
    font-size: $fs30;
    line-height: 120%;
    color: $textGrey;

    &-reviws{
        width: 590px;

        font-size: 36px;
    }
}

label {
    padding: 16px 0 8px;

    display: block;

    font-weight: 500;
    font-size: $fs16;
    line-height: 12px;

    opacity: 0.4;
}

.form__input {
    position: relative;

    width: 420px;
    height: 48px;

    padding: 18px 16px;

    border: 1px solid #DDDEE4;
    border-radius: 5px;

    color: #B1B1B1;

    &-img {
        position: absolute;

        bottom: 12px;
        right: 12px;

        cursor: pointer;
    }

    &-reviews {
        height: 100px;
    }
}

.form__inputs {
    position: relative;
}

 input::target-text,
    input::placeholder {
        font-size: $fs12;
        color: rgba(177, 177, 177, .4);
    }

.button-form {
    margin-bottom: 16px;
    margin-top: 32px;
}


.form__discription {
    text-align: center;
    font-weight: 500;
    font-size: $fs12;
    line-height: 16px;

    color: #585858;
    & a {
        text-decoration: underline;
    }
}

