.main {
    position: relative;

    background: #444;
    color: $white;

    padding-top: 149px;
    padding-bottom: 141px;
}

h1 {
    position: relative;
    z-index: 2;
    width: 830px;

    font-weight: 700;
    letter-spacing: 3.2px;
    font-size: $fs66;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, .8));
}

h2 {
    position: relative;
    z-index: 2;

    width: 730px;

    padding-top: 52px;

    font-size: $fs36;
    line-height: 120%;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, .8));
}

.main__description {
    position: relative;
    z-index: 2;

    width: 830px;

    line-height: 26px;

    padding-top: 24px;
    padding-bottom: 32px;

    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 1));
}

.main__video {
    position: absolute;

    z-index: 1;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
}