.main {
    background: #444;
    color: $white;

    padding-top: 149px;
    padding-bottom: 141px;
}

h1 {
    width: 830px;

    font-weight: 700;
    letter-spacing: 3.2px;
    font-size: $fs66;
}

h2 {
    width: 730px;

    padding-top: 52px;

    font-size: $fs36;
    line-height: 120%;
}

.main__description {
    width: 830px;

    line-height: 26px;

    padding-top: 24px;
    padding-bottom: 32px;

}