@media (max-width: 1240px) {
    .container {
        width: calc(100% - 80px);
        margin: 0 auto;
    }

    .header__wrapper {
        height: 55px;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header__logo {
        width: 108px;
        height: inherit;
    
        & .header__logo-img {
            margin-top: 5px;

            width: 108px;
            height: 44px;
        }
    }

    .header__info {
        position: relative;
        display: block;
 
        width: 160px;
    }

    .header__button {
        position: absolute;
        bottom: 0;
        right: 0;

        margin-right: 0;
    }

    .header__tel {
        position: absolute;
        top: 0;
        right: 1px;

        
    }

    nav {
        height: inherit;
    }

    .nav__item {
        font-size: $fs12;
        margin-right: $fs24;
    }

    .button {
        width: 160px;

        padding: 8px 12.5px;

        font-size: $fs11;

        &-main {
            width: 366px;
            height: 64px;
    
            padding: 22px 0;
            
            
            font-size: $fs16;
            color: $white;
            letter-spacing: 3px;
            font-weight: 600;
        
            background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
            border-radius: 10px;
    
            &:hover {background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);}
        }

        &-location {
            width: 336px;
            height: 48px;
    
            padding: 14px 0;
            
            font-size: $fs16;
            color: $white;
            letter-spacing: 3px;
            font-weight: 600;
        
            background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
            border-radius: 10px;
    
            &:hover {background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);}
        }
    }

    .main {
        position: relative;

        background: #444;
        color: $white;
    
        padding-top: 70px;
        padding-bottom: 70px;
    }

    h1 {
        width: 600px;
    
        letter-spacing: 2.3px;
        font-size: $fs48;
    }
    
    h2 {
        width: 530px;
    
        padding-top: 32px;
    
        font-size: $fs36;
    }

    .main__description {
        width: 730px;
    }

    .work {
        background-image: url('/assets/images/bg-line3.png');
        background-repeat: no-repeat;
        background-position: 0px 220px;
        background-size: 100% 70%;
    }

    .work > .container {
        position: relative;
        height: 1250px;
        background: none;
    }
    
    .work__title {
        padding-top: 50px;
        padding-bottom: 80px;
    
        font-size: $fs30;
    }
    
    .work__item {
        &:first-child {
            left: 100px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 550px;
            top: 90px;
        }
        &:nth-child(3) {
            left: 400px;
            top: 370px;
        }
        &:nth-child(4) {
            left: 70px;
            top: 620px;
        }
        &:last-child{
            left: 530px;
            top: 800px;
        }
    }
    
    .work__title-small {
        padding-top: 39px;
        padding-left: 40px;
    
        font-weight: 600;
        font-size: $fs18;
        line-height: 120%;
    }

    .location{
        position: relative;

        padding-bottom: 80px;
    
        background-image: url('/images/bg-line.png');
        background-position: 0px 00px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .location > .container {
        width: calc(100);
    }
    
    .location__wrapper {
        margin: 0 auto;
        padding-bottom: 32px;
        width: 845px;

        & span {
            bottom: -20px;
        }
    }
    
    .location__item {
        position: relative;
        z-index: 1;
    
        width: 270px;
        height: 240px;
    
        margin-right: 15px;
    
        border-radius: 10px;
    
        cursor: pointer;
    
        & img {
            width: 270px;
            height: 240px;
            border-radius: 10px;
        }
    
        &:hover .location__name {
            transition: .5s;
            bottom: 25px;
        }
    }
    
    .button__slide {
        width: 64px;
        height: 64px;

        left: -445px;
        top: 90px;
    
        &-right {
            position: absolute;
            left: 400px;
            top: 90px;
    
            transform: rotate(180deg);
        }
       
    }

    .location__buttons {
        margin: 0 auto;
        width: 25px;
    }
    
    .decoration{
        padding: 50px 0 50px 0;
    }

    .decoration__titel{
        font-size: $fs30;
    }

    .about__title{
        font-size: $fs30;
    }

    .about-shadow {display: contents;}

    .about__description {
        transition: 1s;
        height: 280px;
    }

    .about {
        height: 490px;

        & .about-shadow {
            display: contents;
        }

        &.active {
            transition: 1s;
            height: 1710px;
    
            & .about__description {
                transition: 1s;
                height: 1600px;
            }

            & .about-shadow {
                display: none;
            }
        }

        &-2 {
            height: 500px;

            & .about-shadow-2 {
                display: contents;
            }

            & .button__open {
                top: 460px;
            }
            
            &.active {
                transition: 1s;
                height: 1250px;
    
                & .del {
                    display: none;
                }
    
                & .button__open {
                    top: 1170px;
    
                    & svg {
                        transform: rotate(90deg);
                    }
                }
    
                & .about__description {
                    transition: 1s;
                    height: 1000px;
                }

                & .about-shadow-2 {
                    display: none;
                }
            }
        }
    }

    .button__open {
        top: 430px;

        &.active {
            transition: 1s;
            top: 1650px;
        }
    }



    .nav__footer {
        width: 420px;

        & .nav__item-footer {
            width: 25%;
            text-align: center;
        }
    }
}


@media (max-width: 892px) {
    .container {
        width: calc(100% - 16px);
        margin: 0 auto;
    }

    header {
        height: 40px;
    }

    .header__wrapper {
        height: 36px;

        margin-top: 8px;
        margin-bottom: 8px;
    }

    .header__logo {
        width: 63px;
        height: inherit;
    
        & .header__logo-img {
            margin-top: 8px;

            width: 63px;
            height: 20px;
        }
    }

    .header__info {
        width: inherit;
        flex: 1 1 auto;
        align-items: flex-end;
    }

    nav {display: none;}

    .button {display: none;}

    .header__tel {
        display: flex;
        justify-content: flex-end;
        position: relative;


        height: 100%;

        & svg {
            display: inline-block;
            
            margin-left: 16px;
            margin-right: 20px;

            width: 20px;
            height: 20px;
        }
    }

    .header__mobile {
        position: relative;
        display: flex;
        margin-top: 8px;

        width: 24px;
        height: 20px;

        cursor: pointer;

        & .header__line {
            position: absolute;
            top: 8.5px;
            height: 3px;
            width: 100%;

            background-color: $accentCol;
            border-radius: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;

            height: 3px;
            width: 100%;
            border-top: 3px solid $accentCol;
            border-radius: 10px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;

            height: 3px;
            width: 100%;
            border-top: 3px solid $accentCol;
            border-radius: 10px;
        }
    }

    .button {
        &-main {
            display: block;

            width: 320px;
            font-size: $fs14;
            margin: 0 auto;
        }
        &-location {
            display: block;

            width: 320px;
            font-size: $fs14;
            margin: 0 auto;
        }
    }

    .main {
        height: 522px;
    
        padding-top: 182px;
        padding-bottom: 184px;
    }

    h1 {
        width: 100%;

        padding-bottom: 32px;

        letter-spacing: 1.2px;
        font-size: $fs24;
        text-align: center;
    }
    
    h2 {
        display: none;
    }

    .main__description {
        display: none;
    }

    .menu{
        display: block;
        transition: .5s;
        z-index: 2;

        left: 100%;

        width: 100%;
        height: 522px;
        
        background: rgba(15, 15, 15, 0.7);

        &.active {
            transition: .5s;
            left: 0;
        }
    }

    .menu__item{
        text-align: right;
        
        margin-top: 16px;
        margin-right: 16px;

        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        & a {
            color: $white;

            &:active {
                transition: .3s;
                color: $accentCol;
            }
        }
    }

    .work > .container {
        background-image: none;
    }
    
    .work {
        background: none;
    }   

    .work > .container {
        position: relative;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        height: 1250px;
        background-image: url('/assets/images/bg-line4.png');
        background-repeat: no-repeat;
        background-position: 0px 200px;
        background-size: 100% 70%;
    }

    .work__title {
        padding-top: 60px;
        padding-bottom: 40px;
    
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        color: $textBlack;
    }
    
    .work__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width:320px;
    }

    .work__item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0 1 auto;
    
        width: 320px;
        height: 175px;

        margin-bottom: 40px;
    
        background-color: $white;
        border: 2px solid $accentCol;
        box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
        border-radius: 12px;
    
        &:first-child {
            left: 0px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(3) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(4) {
            left: 0px;
            top: 0px;
        }
        &:last-child{
            left: 0px;
            top: 0px;
        }
    }
    
    .work__title-small {

        padding-top: 26px;
        padding-left: 12px;
    
        font-size: $fs16;
    }
    
    .work__description {
        text-align: center;

        width: 250px;
    
        padding-top: 0px;
        padding-left: 0px;
    
        font-size: $fs14;
    }
    
    .work__number {
        position: absolute;
        bottom: -22px;
        left: 135px;
    }

    .location{
        position: relative;

        padding-bottom: 80px;
    
        background-image: url('/images/bg-line.png');
        background-position: 0px 00px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .location__wrapper {
        position: relative;

        margin: 0 auto;
        width: 340px;

        & span {
            bottom: -20px;
        }
    }
    
    .location__item {
        width: 340px;
        height: 280px;
    
        margin-right: 10px;
        & img {
            width: 340px;
            height: 280px;
            border-radius: 10px;
        }
    }
    
    .button__slide {
        z-index: 2;

        left: -175px;
        top: 130px;
    
        &-right {
            position: absolute;
            left: 165px;
            top: 130px;
    
            transform: rotate(180deg);
        }
        & svg {
            fill: $white;
            width: 9px;
            height: 18px;
        }
    }

    .decoration__titel{
        font-size: $fs24;
    }

    .button__open {
        top: 820px;
        right: 100px;
    }

    .about > .container {
        width: 340px;
        text-align: center;
    }

    .about {
        height: 880px;
    
        &.active {
            height: 2550px;
    
            & .about__description {
                transition: 1s;
                height: 2420px;
            }

            & .button__open {
                top: 2500px;
                right: 110px;
            }
        }
    
        &-2 {
            height: 900px;
            
            & .button__open {
                top: 850px;
                right: 100px;
            }

            &.active {
                transition: 1s;
                height: 2000px;
    
                & .box-shdow-2 {
                    display: none;
                }
    
                & .del {
                    display: none;
                }
    
                & .button__open {
                    top: 1950px;
                    right: 120px;
    
                    & svg {
                        transform: rotate(90deg);
                    }
                }
    
                & .about__description {
                    transition: 1s;
                    height: 1800px;
                }
            }
        }
    }
    
    .about > .container{
        position: relative;
    }
    
    .about__title {
        padding-top: 50px;
        padding-bottom: 24px;
    
        font-size: $fs24;
        line-height: 140%;
    }
    
    .about-shadow-3,
    .about-shadow-4 {display: contents;}

    .about__description {
        height: 650px;
    
        font-size: $fs14;
    }
    
    .button__open {
        &.active {
            & .close {
                display: block;
            }
    
            & .show {
                display: none;
            }
        }
    }





    footer {
        height: 524px;
    }

    
    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
    
        margin-bottom: 40px;
    }

    .footer__logo {
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 52px;

        & .footer__logo-img {width: 171px;}
    }

    .nav__footer {
        width: 100%;
        height: 142px;
        justify-content: center;
        align-items: center;

        & .nav__item-footer {
            width: 48%;

            margin-bottom: 32px;
            margin-right: 0px;
            
            font-size: $fs16;
            text-align: center;
        }
    }

    .footer__social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        margin-top: 40px;
    
        & span {
            width: 100%;

            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 16px;
            
            font-size: $fs14;
            text-align: center;
        }
    }
}