@media (max-width: 1240px) {
    .container {
        width: calc(100% - 80px);
        margin: 0 auto;
    }

    .header__wrapper {
        height: 55px;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header__logo {
        width: 108px;
        height: inherit;

        & .header__logo-img {
            margin-top: 5px;

            width: 108px;
            height: 44px;
        }
    }

    .header__info {
        position: relative;
        display: block;

        width: 160px;
    }

    .header__button {
        position: absolute;
        bottom: 0;
        right: 0;

        margin-right: 0;
    }

    .header__tel {
        position: absolute;
        top: 0;
        right: 1px;
    }

    nav {
        height: inherit;
    }

    .nav__item {
        font-size: $fs12;
        margin-right: $fs24;
    }

    .button {
        width: 160px;

        padding: 8px 12.5px;

        font-size: $fs11;

        &-main {
            width: 366px;
            height: 64px;

            padding: 22px 0;

            font-size: $fs16;
            color: $white;
            letter-spacing: 3px;
            font-weight: 600;

            background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
            border-radius: 10px;

            &:hover {
                background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);
            }
        }

        &-location {
            width: 336px;
            height: 48px;

            padding: 14px 0;

            font-size: $fs16;
            color: $white;
            letter-spacing: 3px;
            font-weight: 600;

            background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
            border-radius: 10px;

            &:hover {
                background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);
            }
        }
    }

    .main {
        position: relative;

        background: #444;
        color: $white;

        padding-top: 70px;
        padding-bottom: 70px;
    }

    h1 {
        width: 600px;

        letter-spacing: 2.3px;
        font-size: $fs48;
    }

    h2 {
        width: 530px;

        padding-top: 32px;

        font-size: $fs36;
    }

    .main__description {
        width: 730px;
    }

    .work {
        background-image: url("/assets/images/bg-line3.png");
        background-repeat: no-repeat;
        background-position: 0px 220px;
        background-size: 100% 70%;
    }

    .work > .container {
        position: relative;
        height: 1250px;
        background: none;
    }

    .work__title {
        padding-top: 50px;
        padding-bottom: 80px;

        font-size: $fs30;
    }

    .work__item {
        &:first-child {
            left: 100px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 550px;
            top: 90px;
        }
        &:nth-child(3) {
            left: 400px;
            top: 370px;
        }
        &:nth-child(4) {
            left: 70px;
            top: 620px;
        }
        &:last-child {
            left: 530px;
            top: 800px;
        }
    }

    .work__title-small {
        padding-top: 39px;
        padding-left: 40px;

        font-weight: 600;
        font-size: $fs18;
        line-height: 120%;
    }

    .location {
        position: relative;

        padding-bottom: 80px;

        background-image: url("/images/bg-line.png");
        background-position: 0px 00px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .location > .container {
        width: calc(100);
    }

    .location__wrapper {
        margin: 0 auto;
        padding-bottom: 32px;
        width: 845px;

        & span {
            bottom: -20px;
        }
    }

    .location__item {
        position: relative;
        z-index: 1;

        width: 270px;
        height: 240px;

        margin-right: 15px;

        border-radius: 10px;

        cursor: pointer;

        & img {
            width: 270px;
            height: 240px;
            border-radius: 10px;
        }

        &:hover .location__name {
            transition: 0.5s;
            bottom: 25px;
        }
    }

    .button__slide {
        width: 64px;
        height: 64px;

        left: -445px;
        top: 90px;

        &-right {
            position: absolute;
            left: 400px;
            top: 90px;

            transform: rotate(180deg);
        }
    }

    .location__buttons {
        margin: 0 auto;
        width: 25px;
    }

    .decoration {
        padding: 50px 0 50px 0;
    }

    .decoration__titel {
        font-size: $fs30;
    }

    .about__title {
        font-size: $fs30;
    }

    .about-shadow {
        display: contents;
    }

    .about__description {
        transition: 1s;
        height: 280px;
    }

    .about {
        height: 490px;

        & .about-shadow {
            display: contents;
        }

        &.active {
            transition: 1s;
            height: 1710px;

            & .about__description {
                transition: 1s;
                height: 1600px;
            }

            & .about-shadow {
                display: none;
            }
        }

        &-2 {
            height: 500px;

            & .about-shadow-2 {
                display: contents;
            }

            & .button__open {
                top: 460px;
            }

            &.active {
                transition: 1s;
                height: 1250px;

                & .del {
                    display: none;
                }

                & .button__open {
                    top: 1170px;

                    & svg {
                        transform: rotate(90deg);
                    }
                }

                & .about__description {
                    transition: 1s;
                    height: 1000px;
                }

                & .about-shadow-2 {
                    display: none;
                }
            }
        }
    }

    .button__open {
        top: 430px;

        &.active {
            transition: 1s;
            top: 1650px;
        }
    }

    .services__title {
        padding-top: 100px;
        padding-bottom: 80px;

        font-size: $fs30;
    }

    .services__wrapper {
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 234px);
    }

    .services__item {
        & img {
            width: 100%;
            height: 100%;
        }

        & p {
            left: 12px;
            bottom: 12px;

            font-family: "Arial";
            font-weight: 700;
            line-height: 20px;
        }

        &:hover {
            color: $white;
        }

        &:nth-child(5) p {
            width: 200px;
        }
    }

    .price {
        background-image: url("/assets/images/bg-line-card-rotade.png");
        background-repeat: no-repeat;
        background-size: 100% 95%;
        background-position: 0 150px;

        padding-bottom: 100px;
    }

    .price__title {
        padding: 100px 0 80px;

        font-weight: 600;
        font-size: $fs30;
    }

    .price__wrapper {
        justify-content: center;
        flex-wrap: wrap;

        height: auto;
    }

    .card {
        width: 420px;
        height: 654px;

        margin-bottom: 34px;

        &:last-child {
            margin-bottom: 0px;
        }

        padding: 48px 22px 46px;
    }

    .card__mini {
        margin-right: 34px;
    }

    .button-card {
        width: 100%;
        font-size: $fs16;
    }

    .card__maxi {
        height: 706px;
    }

    .reviews {
        padding: 100px 0 120px;
    }

    .reviews__title {
        font-size: $fs30;
    }

    .reviews__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 465px;
    }

    .reviews__slider {
        display: flex;

        width: 700px;
        height: 100%;

        overflow: hidden;
    }

    .reviews__slides {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;

        margin-right: 20px;
    }

    .button__slide-reviews {
        position: static;

        &-right {
            position: static;
        }

        box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 0.2);
    }

    .reviews__comment {
        margin-right: 20px;
    }

    .reviews__img {
        width: 240px;
        height: 250px;
    }

    .reviews__img-1 {
        background-image: url("/assets/images/reviews/bg-2.png");
        background-repeat: no-repeat;
        background-position: top -5px left 10px;
    }

    .reviews__img-2 {
        background-image: url("/assets/images/reviews/bg-1.png");
        background-repeat: no-repeat;
        background-position: top -2px left;
    }

    .reviews__img-3 {
        background-image: url("/assets/images/reviews/bg-3.png");
        background-repeat: no-repeat;
        background-position: top 5px left -5px;
    }

    .button__reviews {
        display: none;

        margin: 40px auto;

        &-mobile {
            display: flex;
            width: 342px;
        }
    }

    .form {
        padding: 120px 0 130px;
    }

    .form__map {
        padding: 26px 0 0 0;

        & iframe {
            width: 350px;

            border: 5px solid #f2f4f4;
            border-right: none;
            filter: drop-shadow(0px 2px 3px rgba(121, 121, 121, 0.2));
            border-radius: 25.8573px 0px 0px 25.8573px;
        }
    }

    .img__map {
        position: absolute;

        width: 150px;

        top: 120px;
        left: 100px;
        z-index: 3;
    }

    .form__main {
        width: 480px;

        padding: 73px 51px;
    }

    .button-form {
        width: 100%;
    }

    .gift {
        position: relative;
        padding: 100px 0 0;
    }
    
    .gift__title {font-size: 30px;}
    
    .gift__bg-line {
        position: absolute;
        right: -120px;
        bottom: 65px;
    
        height: auto;
    }
    .gift__wrapper {
        display: flex;
        justify-content: center;
        padding: 0 0 70px 0;
    }
    .git__top {
        margin-top: 110px;
        margin-bottom: 12px;
    }
    .gift__big {
        width: 370px;
        
        margin-bottom: 40px;
    
        font-size: $fs36;
    }
    .gift__block {
        position: relative;
        display: flex;
        flex-direction: column;
    }
 
    .gift__img {
        width: 420px;
        height: 420px;
    }
    .gift__text {
        min-width: 300px;
        max-width: 340px;
    }
    .button-gift {
        margin: 0 auto;
        width: 340px;
        font-size: 16px;
        margin-top: 30px;
    
        position: relative;
    }





    .form__input {
        width: 380px;
    }

    .nav__footer {
        width: 420px;

        & .nav__item-footer {
            width: 25%;
            text-align: center;
        }
    }
}

@media (max-width: 892px) {
    .container {
        width: calc(100% - 16px);
        margin: 0 auto;
    }

    header {
        height: 40px;
    }

    .header__wrapper {
        height: 36px;

        margin-top: 8px;
        margin-bottom: 8px;
    }

    .header__logo {
        width: 63px;
        height: inherit;

        & .header__logo-img {
            margin-top: 8px;

            width: 63px;
            height: 20px;
        }
    }

    .header__info {
        width: inherit;
        flex: 1 1 auto;
        align-items: flex-end;
    }

    nav {
        display: none;
    }

    .button {
        display: none;
    }

    .header__tel {
        display: flex;
        justify-content: flex-end;
        position: relative;

        height: 100%;

        & svg {
            display: inline-block;

            margin-left: 16px;
            margin-right: 20px;

            width: 20px;
            height: 20px;
        }
    }

    .header__mobile {
        position: relative;
        display: flex;
        margin-top: 8px;

        width: 24px;
        height: 20px;

        cursor: pointer;

        & .header__line {
            position: absolute;
            top: 8.5px;
            height: 3px;
            width: 100%;

            background-color: $accentCol;
            border-radius: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;

            height: 3px;
            width: 100%;
            border-top: 3px solid $accentCol;
            border-radius: 10px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;

            height: 3px;
            width: 100%;
            border-top: 3px solid $accentCol;
            border-radius: 10px;
        }
    }

    .button {
        &-main {
            display: block;

            width: 320px;
            font-size: $fs14;
            margin: 0 auto;
        }
        &-location {
            display: block;

            width: 320px;
            font-size: $fs14;
            margin: 0 auto;
        }
    }

    .main {
        height: 522px;

        padding-top: 182px;
        padding-bottom: 184px;
    }

    h1 {
        width: 100%;

        padding-bottom: 32px;

        letter-spacing: 1.2px;
        font-size: $fs24;
        text-align: center;
    }

    h2 {
        display: none;
    }

    .main__description {
        display: none;
    }

    .menu {
        display: block;
        transition: 0.5s;
        z-index: 2;

        left: 100%;

        width: 100%;
        height: 522px;

        background: rgba(15, 15, 15, 0.7);

        &.active {
            transition: 0.5s;
            left: 0;
        }
    }

    .menu__item {
        text-align: right;

        margin-top: 16px;
        margin-right: 16px;

        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        & a {
            color: $white;

            &:active {
                transition: 0.3s;
                color: $accentCol;
            }
        }
    }

    .work > .container {
        background-image: none;
    }

    .work {
        background: none;
    }

    .work > .container {
        position: relative;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        height: 1250px;
        background-image: url("/assets/images/bg-line4.png");
        background-repeat: no-repeat;
        background-position: 0px 200px;
        background-size: 100% 70%;
    }

    .work__title {
        padding-top: 60px;
        padding-bottom: 40px;

        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        color: $textBlack;
    }

    .work__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 320px;
    }

    .work__item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0 1 auto;

        width: 320px;
        height: 175px;

        margin-bottom: 40px;

        background-color: $white;
        border: 2px solid $accentCol;
        box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12),
            0px 11px 15px rgba(221, 221, 221, 0.2);
        border-radius: 12px;

        &:first-child {
            left: 0px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(3) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(4) {
            left: 0px;
            top: 0px;
        }
        &:last-child {
            left: 0px;
            top: 0px;
        }
    }

    .work__title-small {
        padding-top: 26px;
        padding-left: 12px;

        font-size: $fs16;
    }

    .work__description {
        text-align: center;

        width: 250px;

        padding-top: 0px;
        padding-left: 0px;

        font-size: $fs14;
    }

    .work__number {
        position: absolute;
        bottom: -22px;
        left: 135px;
    }

    .location {
        position: relative;

        padding-bottom: 80px;

        background-image: url("/images/bg-line.png");
        background-position: 0px 00px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .location__wrapper {
        position: relative;

        margin: 0 auto;
        width: 340px;

        & span {
            bottom: -20px;
        }
    }

    .location__item {
        width: 340px;
        height: 280px;

        margin-right: 10px;
        & img {
            width: 340px;
            height: 280px;
            border-radius: 10px;
        }
    }

    .button__slide {
        width: 36px;
        height: 36px;

        z-index: 2;

        left: -175px;
        top: 130px;

        &-right {
            position: absolute;
            left: 165px;
            top: 130px;

            transform: rotate(180deg);
        }
        & svg {
            fill: $white;
            width: 9px;
            height: 18px;
        }
    }

    .decoration__titel {
        font-size: $fs24;
    }

    .button__open {
        top: 820px;
        right: 100px;
    }

    .about-shadow,
    .about-shadow-2,
    .about-shadow-4,
    .about-shadow-prev {display: none;}

    .about > .container {
        width: 340px;
        text-align: center;
    }

    .about {
        height: 880px;

        &.active {
            height: 2560px;

            & .about__description {
                transition: 1s;
                height: 2420px;
            }

            & .button__open {
                top: 2500px;
                right: 110px;
            }

            .about-shadow-3 {
               display: none;
            }
        }

        &-2 {
            height: 900px;

            & .button__open {
                top: 850px;
                right: 100px;
            }

            &.active {
                transition: 1s;
                height: 2000px;

                & .box-shdow-2 {
                    display: none;
                }

                & .del {
                    display: none;
                }

                & .button__open {
                    top: 1950px;
                    right: 120px;

                    & svg {
                        transform: rotate(90deg);
                    }
                }

                & .about__description {
                    transition: 1s;
                    height: 1800px;
                }

                & .about-shadow-4 {
                    display: none;
                }
            }
        }
    }

    .about > .container {
        position: relative;
    }

    .about__title {
        padding-top: 50px;
        padding-bottom: 24px;

        font-size: $fs24;
        line-height: 140%;
    }

    .about-shadow-3,
    .about-shadow-4 {
        display: contents;
    }

    .about__description {
        height: 650px;

        font-size: $fs14;
    }

    .button__open {
        &.active {
            & .close {
                display: block;
            }

            & .show {
                display: none;
            }
        }
    }

    .services > .container {
        width: 100%;
    }

    .services__title {
        padding-top: 60px;
        padding-bottom: 40px;

        font-weight: 600;
        font-size: $fs24;
        line-height: 140%;
    }

    .services__wrapper {
        grid-gap: 16px;
        grid-template-columns: repeat(2, minmax(180px, 2fr));
        grid-template-rows: repeat(6, minmax(154px, 1fr));
    }

    .services__item {
        & img {
            width: 100%;
            height: 100%;
        }

        & p {
            width: 110px;

            left: 12px;
            bottom: 8px;

            font-size: $fs14;
            line-height: 16px;
        }
    }

    .services__item_2 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;

        & p {
            width: 130px;
        }
    }

    .services__item_3 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .services__item_4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .services__item_5 {
        grid-row-start: 5;
        grid-row-end: 7;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .services__item:nth-child(5) p {
        width: 156px;
    }

    .services__item_6 {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .services__item_7 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .services__item_8 {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 2;
        grid-column-end: 3;

        & img {
            width: 150%;
            margin-left: -70px;
        }
    }

    .services__item_9 {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 2;

        & p {
            width: 150px;
        }
    }

    .services__item_10 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .services__item_11 {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 2;

        & p {
            width: 130px;
        }
    }

    .price > .container {
        width: 100%;
    }

    .price {
        background-image: none;

        padding-bottom: 60px;
    }

    .price__title {
        padding: 60px 0 40px;

        font-size: $fs24;
        line-height: 140%;
    }

    .price__wrapper {
        display: flex;
        justify-content: center;

        height: auto;
    }

    .card {
        width: 343px;
        height: auto;

        padding: 45px 11px 45px 12px;

        margin-right: 0;
    }

    .card__mini,
    .card__standart {
        background-position: top -100px right -100px;
    }

    .card__maxi {
        height: auto;
        background-position: top -100px right -100px;
    }

    .card__title {
        margin-left: 16px;
        margin-bottom: 8px;
    }

    .card__price {
        margin-left: 16px;
        margin-bottom: 0px;

        color: $textBlack;
    }

    .card__location {
        margin-left: 16px;

        font-size: $fs14;
    }

    .card__wrapper {
        margin-left: 16px;
        margin-bottom: 32px;
    }

    .card__item {
        margin-bottom: 16px;

        font-size: $fs14;

        &:last-child {
            width: 230px;

            &::before {
                content: " ";
                top: 0px;
            }
        }
    }

    .card__addition {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 12px 0 32px;
    }

    .card__action {
        height: 40px;

        padding: 6px 40px;

        margin-right: 5px;
        margin-bottom: 5px;

        background-color: $white;

        border: 1px solid #c2c2c2;
        border-radius: 5px;

        font-weight: 500;
        font-size: $fs12;
        line-height: 120%;

        text-align: center;

        cursor: pointer;

        &:nth-child(2) {
            margin-right: 0;
            width: 155px;
        }

        &:last-child {
            width: 100%;

            padding: 6px 70px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
    }

    .card__action_first {
        width: 155px;
        margin-right: 5px;
    }

    .button-card {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 48px;

        color: $white;
        font-weight: 600;
        font-size: $fs16;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;

        background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
        border-radius: 10px;
        border: 0px;

        &:hover {
            background: linear-gradient(180deg, #ffa96b 58.75%, #ee7a28 173.44%);
        }
    }

    .reviews {
        padding: 60px 0 60px;
    }

    .reviews__title {
        margin-bottom: 40px;

        font-size: $fs24;
        line-height: 140%;
    }

    .reviews__wrapper {
        position: relative;
        display: flex;
        align-items: center;

        margin: 0 auto;

        width: 340px;
        height: 456px;
    }

    .reviews__slider {
        width: auto;
        height: 100%;
    }

    .reviews__slides {
        height: 100%;
        margin-right: 0px;
    }

    .reviews__comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 340px;
        height: 100%;
    }

    .reviews__img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 223px;
        height: 244px;

        & img {
            width: 85%;
        }

        margin-bottom: 24px;
    }

    .reviews__img-1 {
        background-image: url("/assets/images/reviews/bg-2.png");
        background-repeat: no-repeat;
        background-position: top 15px left 17px;
        background-size: 90%;
    }

    .reviews__img-2 {
        background-image: url("/assets/images/reviews/bg-1.png");
        background-repeat: no-repeat;
        background-position: top -2px left;
    }

    .reviews__img-3 {
        background-image: url("/assets/images/reviews/bg-3.png");
        background-repeat: no-repeat;
        background-position: top 5px left -5px;
    }

    .reviews__name {
        font-size: $fs18;
    }

    .reviews__discription {
        margin-bottom: 8px;

        font-size: $fs14;
        line-height: 24px;
    }

    .reviews__show {
        font-size: $fs14;
    }

    .button__reviews {
        margin-top: 32px;
    }

    .reviews__button-right {
        position: absolute;
        top: 230px;
        right: 0;
    }

    .reviews__button-left {
        position: absolute;
        top: 230px;
        left: 0;
        z-index: 10;
    }

    .button__slide-reviews {
        position: static;

        &-right {
            position: static;

            transform: rotate(180deg);
        }

        box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 0.2);
    }

    .form {
        padding: 80px 0 120px;
    }

    .form__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form__map {
        padding: 0 0 0 0;

        & iframe {
            width: 340px;

            border: 5px solid #f2f4f4;
            border-radius: 15px;
        }
    }

    .img__map {
        position: absolute;

        width: 150px;

        top: 120px;
        left: 130px;
        z-index: 3;
    }

    .form__main {
        width: 320px;
        height: 540px;

        position: relative;
        top: -30px;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 50px 20px;

        background-size: 150px, 250px;
        background-position: top right -60px, bottom -25px left -65px;
    }

    .form__title {
        margin-bottom: 24px;

        font-size: $fs22;
    }

    label {
        padding: 12px 0 8px;

        font-size: $fs14;
    }

    .form__input {
        width: 280px;
    }

    .button-form {
        display: flex;

        width: 100%;

        margin-bottom: 16px;
        margin-top: 32px;
    }

    .gift {
        position: relative;
        padding: 60px 0 0;
    }
    

    .gift__title {
        margin-bottom: 40px;
    
        font-size: 24px;
        line-height: 140%;
    }
    
    .gift__bg-line {
        position: absolute;
        right: 0px;
        bottom: 0px;
    
        height: 300px;
    }

    .gift__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        text-align: center;

        width: 340px;
        margin: 0 auto;

        padding: 40px 0 50px 0;
    
        background: #F9F4EE;;
    }
    .git__top {
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: $fs12;
    }
    .gift__big {
        width: 250px;

        margin-bottom: 48px;
    
        font-size: $fs24;
    }

    .gidt__block-item {
        padding-left: 0px;
        padding-top: 32px;
    
        font-size: 14px;
        line-height: 140%;
        color: #4A4A4A;
    
        margin-bottom: 20px;
    
        &:last-child{
            margin-bottom: 0px;
        }
    
        &::before {
            content: " ";
            position: absolute;
            top: -8px;
            left: 112px;
    
            width: 24px;
            height: 24px;
    
            background-image: url("/assets/images/done.svg");
            background-repeat: no-repeat;
            background-size: 24px 24px;
        }
    }
    .gift__img {
        position: relative;
    
        width: 260px;
        height: 260px;

        margin: 0 auto;
    
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .gift__text {
        margin: 0 auto;

        width: 280px;
    
        font-size: 14px;
    }
    .button-gift {
        display: flex;
        margin: 0 auto;
        width: 320px;
        height: 56px;
    
        margin-top: 24px;
    
        position: relative;
    }




    footer {
        height: 524px;
    }

    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 40px;
    }

    .footer__logo {
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 52px;

        & .footer__logo-img {
            width: 171px;
        }
    }

    .nav__footer {
        width: 100%;
        height: 142px;
        justify-content: center;
        align-items: center;

        & .nav__item-footer {
            width: 48%;

            margin-bottom: 32px;
            margin-right: 0px;

            font-size: $fs16;
            text-align: center;
        }
    }

    .footer__social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin-top: 40px;

        & span {
            width: 100%;

            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 16px;

            font-size: $fs14;
            text-align: center;
        }
    }
}
