nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 35px;
}

.nav__item {
    font-size: $fs14;
    margin-right: $fs32;

    color: $textGrey;
    font-weight: 500;

    &-footer {
        font-size: $fs16;
        margin-right: 50px;

        font-weight: 700;
    }

    animation: .5s ease-out 0s  puff-in-center;

}

.nav__footer {
    display: flex;
    flex-wrap: wrap;
    
}
