.popUp {
    display: none;
    position: absolute;
    z-index: 100;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &.active {
        display: none;
        justify-content: center;
        align-items: center;

        background: rgb(33, 33, 33,0.5);
    }
}

.popUp__form{
    display: none;

    position: relative;
    width: 1000px;
    height: 560px;

    background: $white;

    padding: 60px 40px 60px 34px;

    border-radius: 15px;
}

.popUp__close {
    position: absolute;

    top: -30px;
    right: 0;
    z-index: 101;

    width: 21px;
    height: 21px;

    cursor: pointer;
    transition: .4s;
    &:hover {
        transition: .4s;
        transform: rotate(90deg);
    }
}

.close-pop {
    width: 100%;
    height: 100%;
}

.popUp__gratitude {
    display: none;

    position: relative;
    width: 620px;
    height: 330px;

    padding: 88px 0;
    
    background: $white;
    border-radius: 15px;

    background-image: url("../.././assets/images/Background-card.png"), url("../.././assets/images/Background-gratitude.png");
    background-repeat: no-repeat;
    background-position: top right, bottom left;

    &.active {
        display: block;
    }
}

.gratitude__title {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #4A4A4A;
}

.gratitude__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #121621;
    opacity: 0.4;
    text-align: center;
}

.popUp__galary {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100%;

    background-color: $white;
}

.popUp__slider {
    

    position: relative;

    width: 500px;
    height: 500px;
    margin: 0 auto;

    overflow: hidden;
}

.popUp__slider-wrapper {
    display: flex;
    justify-content: flex-start;

    width: 500px;
    height: 550px;
}

.popUp__slider-item {
    display: flex;
    flex-direction: column;

    & img {
        width: 500px;
        height: 500px;

        margin-bottom: 16px;
    }
}

.popUp__slider-text {
    font-weight: 500;
    font-size: $fs16;   
    line-height: 24px;
    color: $textBlack;
}

.popUp__buttons {
    display: flex;

    justify-content: space-between;

    position: absolute;
    width: 1000px;
    height: 73px;

    & .button__slide {
        position: relative;
        left: 0;
        top: 0;


        box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 0.2);
    }

    & .button__slide-right {
        right: 0;
    }
}