.price {
    background-image: url("./assets/images/bg-line-card.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-position: 0 80px;

    padding-bottom: 190px;
}

.price__title {
    padding: 118px 0 102px;

    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: $fs36;
    line-height: 120%;

    color: $textBlack;
}

.price__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 706px;
}

