.slider {
    position: relative;
}

.slider__title {
    padding-top: 120px;
    padding-bottom: 80px;

    font-style: normal;
    font-weight: 600;
    font-size: $fs36;
    text-align: center;
    color: $textBlack;
}

.slider__wrapper {
    position: relative;
    display: flex;

    max-width: 1440px;
    min-width: 375px;

    margin: 0 auto;

    overflow-x: hidden;

    height: 620px;

    &-do {
        display: flex;
        align-items: center;
        position: relative;

        transition: .3s;
    }
}

.slider__item {
    position: relative;

    width: 480px;
    height: 545px;

    left: -50px;

    cursor: pointer;

    transition: .3s;

    & img {
        width: 100%;
        height: 100%;
    }

    &.active {
        width: 550px;
        height: 620px;


        transition: .3s;
    }
}

.slider__buttons {
    position: absolute;

    width: 200px;

    left: 300px;
    top: 270px;

}

.slider__dots {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 40px auto;

    width: 90px;
    height: 14px;
}

.slider__dot {
    width: 6px;
    height: 6px;

    background-color: $gray;
    border-radius: 50%;

    transition: .5s;
    cursor: pointer;

    &.active {
        transition: .5s;
        width: 14px;
        height: 14px;
        background-color: $accentCol;
    }

}