$firstBG:   #F2F4F4;
$secondBG:  #F9F4EE;
$accentCol: #E97522;
$textBlack: #333333;
$textGrey:  #4A4A4A;
$gray:      #B1B1B1;
$white:     #fff;
$black:     #000;


$fs11: 11px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs24: 24px;
$fs32: 32px;
$fs36: 36px;
$fs48: 48px;
$fs66: 66px;