@import "__vars.scss";
@import "reset.scss";
@import "../scss/block/header.scss";
@import "../scss/block/nav.scss";
@import "../scss/block/button.scss";
@import "../scss/block/main.scss";
@import "../scss/block/location.scss";
@import "../scss/block/dacoration.scss";
@import "../scss/block/work.scss";
@import "../scss/block/about.scss";
@import "../scss/block/slider.scss";
@import "../scss/block/services.scss";
@import "../scss/block/card.scss";
@import "../scss/block/reviews.scss";
@import "../scss/block/price.scss";
@import "../scss/block/form.scss";
@import "../scss/block/gift.scss";
@import "../scss/block/popUp.scss";
@import "../scss/block/animation.scss";

@import "../scss/block/footer.scss";

body {
    background-color: $white;
    font-family: "Montserrat";
    font-size: $fs16;
    color: $black;

    overflow-x: hidden;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

a {
    color: $textBlack;

    &:hover {
        transition: 0.3s;
        color: $accentCol;
    }
}

hr {
    display: block;
    width: 100%;
    height: 1px;

    border-top: 1px solid $gray;
}

.menu {
    position: fixed;

    left: 100%;
}

.block {
    overflow-y: hidden
}

@import "../scss/block/media.scss";
