<footer>
    <div class="conteiner">
        <div class="footer__wrappe">
            <div class="footer__logo">
                <a href="#"><svg class="footer__logo-img"><use xlink:href="#logo-main"></use></svg></a>
            </div>

            <nav>
                <a href="#" class="nav__item">  Портфолио       </a>
                <a href="#" class="nav__item">  Виды работ      </a>
                <a href="#" class="nav__item">  О фотостудии    </a>
                <a href="#" class="nav__item">  Услуги и цены   </a>
                <a href="#" class="nav__item">  Контакты        </a>
            </nav>

        </div>

        <hr>

        <div class="footer__social">
            <span>Наши социцальные сети:</span>

            <div class="footer__ico">
                <div class="footer__item"></div>
                <div class="footer__item"></div>
                <div class="footer__item"></div>
                <div class="footer__item"></div>
            </div>
        </div>

    </div>
</footer>
