<footer>
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                <a href="#"><svg class="footer__logo-img"><use xlink:href="#logo-main"></use></svg></a>
            </div>

            <nav class="nav__footer">
                <a href="#" class="nav__item nav__item-footer">  Портфолио       </a>
                <a href="#" class="nav__item nav__item-footer">  Виды работ      </a>
                <a href="#" class="nav__item nav__item-footer">  О фотостудии    </a>
                <a href="#" class="nav__item nav__item-footer">  Услуги и цены   </a>
                <a href="#" class="nav__item nav__item-footer">  Отзывы          </a>
                <a href="#" class="nav__item nav__item-footer">  Контакты        </a>
            </nav>

        </div>

        <hr>

        <div class="footer__social">
            <span class="footer__text">Наши социцальные сети:</span>

            <div class="footer__ico">
                <div class="footer__item"><a href="https://www.instagram.com/"> <svg class="footer__img">   <use xlink:href="#instagramm">   </use></svg></a></div>
                <div class="footer__item"><a href="https://www.facebook.com/">  <svg class="footer__img">   <use xlink:href="#facebook">     </use></svg></a></div>
                <div class="footer__item"><a href="http://twitter.com/">        <svg class="footer__img">   <use xlink:href="#twitter">      </use></svg></a></div>
                <div class="footer__item"><a href="https://web.telegram.org/">  <svg class="footer__img">   <use xlink:href="#telegramm">    </use></svg></a></div>
            </div>
        </div>

    </div>
</footer>
