<header>
    <div class="container">
        <div class="header__wrapper">

            <div class="header__logo">
                <a href="#"><svg class="header__logo-img"><use xlink:href="#logo-main"></use></svg></a>
            </div>

            <nav>
                <a href="#"class="nav__item">Портфолио</a>
                <a href="#" class="nav__item">Виды работ</a>
                <a href="#" class="nav__item">О фотостудии</a>
                <a href="#" class="nav__item">Услуги и цены</a>
                <a href="#" class="nav__item">Контакты</a>
            </nav>

            <div class="header__info">
                <a href="#" class="header__button"> 
                    <div class="button">
                        ОБРАТНЫЙ ЗВОНОК
                    </div>
                </a>
               
                <div class="header__tel"> <span>+7 (499) 344 60 91</span>> <svg><use xlink:href="#tel"></use></div>
            </div>

            <div class="header__mobile"><span class="header__line"></span></div>
        </div>
    </div>
</header>
